<%= simple_form_for([@book, @book.rates.build]) do |f| %>
  <div id="rating-form">
    <label>Rating:</label>
  </div>
  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>

<script>
  $('#rating-form').raty({
  	path: '/assets/',
  	scoreName: 'rate[ratings]'
  });
</script>